/* Configurações Gerais - Padrão Acadêmico */
body {
    font-family: "Arial", Times, serif;
    margin: 2cm;
    line-height: 1.5;
    color: #1a1a1a;
    background-color: #fff;
}

/* Cabeçalho e Logos */
.header {
    border-bottom: 2px solid #003366;
    padding-bottom: 20px;
    margin-bottom: 30px;
    width: 100%;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 150px; /* Ajuste a altura conforme necessário */
    width: auto;
    margin-bottom: 10px;
}

.text-container {
    text-align: center;
    flex-grow: 1; /* Garante que o texto ocupe o espaço central */
    font-size: 20px;
}

.text-container p {
    text-align: center;
    line-height: 1.2;
}

/* Opcional: remover negrito das duas últimas linhas como na imagem */
.text-container p:nth-child(n+4) {
    font-weight: normal;
    font-size: 18px;
}

.header p {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Títulos */
h1 {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0 20px 0;
    color: #000;
}

.section-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-left: 4px solid #000000;
    padding-left: 10px;
    margin-top: 35px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.sla {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Imagem do QR Code */

#qrcode {
    display: block;
    width: 300px;
    height: 300px;
    margin-right: 100px;
}

/* Corpo de Texto */
p {
    text-align: justify;
    margin-bottom: 12px;
}

/* Lista de Integrantes e Critérios */
ul {
    margin-bottom: 20px;
    padding-left: 40px;
}

li {
    margin-bottom: 5px;
}

/* Destaque para as Regiões (Recortes) */
strong {
    color: #000;
}

/* Ajuste específico para os nomes dos integrantes (sem recuo) */
p:has(br) {
    text-indent: 0;
}

/* Footer ou Notas Complementares */
.info-complementar {
    font-size: 12px;
    font-style: italic;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 50px;
}

/* Estilo para impressão */
@media print {
    body {
        margin: 2cm;
    }
}